* {
    padding: 0px;
    margin: 0px;
    font-family: Verdana, Helvetica, Arial, sans-serif;
    font-size: 12px;
}

.top {
    width: 100%;
    height: 20px;
    background-color: #E8E8E8;
}

.top_bar {
    width: 1000px;
    height: 20px;
    margin: 0px auto;
}

.top_bar_hit {
    height: 100%;
}

.top_bar_hit ul li {
    list-style-type: none;
    margin: 0px 10px;
    line-height: 20px;
    float: right;
}

.top_bar_hit ul li:hover {
    color: red;
    cursor: pointer;
}

.wrap {
    width: 1000px;
    height: 620px;
    margin: 0px auto;
    background: url("/resources/background.gif");
    position: relative;
}

.nav {
    width: 100%;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.6);
    margin: 0px 0px 3px 0px;
}

.nav_left {
    width: 640px;
    height: 40px;
    float: left;
    margin: 0px 10px;
}

.nav_left span a {
    text-decoration: none;
    font-size: 21px;
    line-height: 40px;
    font: bold;
    text-shadow: 0 0 20px green;
    color: #ffffff;
}

.nav_left span a:hover {
    color: #FFFFFF;
}

.nav_left_process {
    float: right;
    margin: 20px 5px 3px 5px;
    color: #69a86b;
}

.nav_left_process:hover {
    color: red;
}

.nav_right {
    width: 270px;
    height: 40px;
    margin: 0px 10px;
    float: right;
}

.nav_right span {
    float: right;
    font-size: 15px;
    color: #69a86b;
    margin: 16px 5px 3px 5px;
}

.nav_right span a {
    font-size: 17px;
    margin: 0px 5px;
    text-decoration: none;
    color: #ff8a2c;

    -webkit-transition: ease 0.5s;
    -moz-transition: ease 0.5s;
    -ms-transition: ease 0.5s;
    -o-transition: ease 0.5s;
    transition: ease 0.5s;
}

.nav_right span a:hover {
    color: green;
}

.ad {
    /*574*314*/
    width: 560px;
    height: 300px;
    overflow: hidden;
    float: left;
}

.ad_left {
    /*213*314*/
    width: 210px;
    height: 314px;
    float: left;
    margin-right: 3px;
    background-color: rgba(255, 255, 255, 0.6);
}

.ad_left ul {
    margin-top: 10px;
}

.ad_left ul li {
    list-style: none;
    border-bottom: 1px solid rgba(255, 255, 255, 1);
    margin: 4px 0px;
    padding-left: 5px;
}

.ad_left ul li a {
    font-size: 14px;
    color: #000000;
    text-decoration: none;
}

.ad_left ul li a:hover {
    color: red;
}

.ad_right {
    /*213*145*/
    width: 210px;
    height: 145px;
    float: left;
    margin-left: 3px;
    background-color: rgba(255, 255, 255, 0.6);
}

.ad_right ul li {
    /*border-bottom: 1px solid #ffffff;*/
    list-style-type: none;
    padding: 4px 6px;
}

.ad_right ul li *:focus {
    outline: none;
}

.ad_right ul li label {
    display: block;
    width: 50px;
    text-align: center;
    font-size: 13px;
    margin: 2px auto;
}

.ad_right ul li input[type=text] {
    width: 170px;
    height: 22px;
    border: 2px solid #ffffff;
    background-color: #ffffff;
    padding-left: 4px;
    padding-right: 20px;
}

.ad_right ul li input[type=text]:focus {
    border-color: #C00;
    background-color: #ffffff;
}

.ad_right ul li a {
    width: 70px;
    height: 22px;
    padding-right: 26px;
    line-height: 22px;
    text-align: center;
    display: block;
    color: #69a86b;
    font-size: 14px;
    text-decoration: none;
    border: 2px solid rgba(255, 255, 255, 0.8);
    background: url("/resources/allow.png") no-repeat 66px 5px;

    margin: 0px auto;

    -webkit-transition: ease 0.3s;
    -moz-transition: ease 0.3s;
    -ms-transition: ease 0.3s;
    -o-transition: ease 0.3s;
    transition: ease 0.4s;

    position: relative;
}

.ad_right ul li a:hover {
    border: 2px solid rgba(255, 255, 255, 1);
    background-position: 74px;
    color: green;
}

.ad_right ul li a .button_line {
    display: block;
    position: absolute;
    background: none;

    -webkit-transition: ease 0.3s;
    -moz-transition: ease 0.3s;
    -ms-transition: ease 0.3s;
    -o-transition: ease 0.3s;
    transition: ease 0.3s;
}

.ad_right ul li a:hover .button_line {
    background: #ffffff;
}

.ad_right ul li a .button_line_top {
    height: 2px;
    width: 0px;
    left: -94px;
    top: -2px;
}

.ad_right ul li a:hover .button_line_top {
    width: 94px;
    left: -2px;
}

.ad_right ul li a .button_line_right {
    height: 0px;
    width: 2px;
    right: -2px;
    top: -26px;
}

.ad_right ul li a:hover .button_line_right {
    height: 26px;
    top: -2px;
}

.ad_right ul li a .button_line_bottom {
    height: 2px;
    width: 0px;
    right: -94px;
    bottom: -2px;
}

.ad_right ul li a:hover .button_line_bottom {
    width: 94px;
    right: -2px;
}

.ad_right ul li a .button_line_left {
    height: 0px;
    width: 2px;
    left: -2px;
    bottom: -26px;
}

.ad_right ul li a:hover .button_line_left {
    height: 26px;
    bottom: -2px;
}

.intro_container {
    /*213*166*/
    width: 210px;
    height: 166px;
    margin-top: 6px;
    float: left;
    background-color: rgba(255, 255, 255, 0.6);
}

.intro {
    width: 70px;
    height: 70px;
    float: left;
    margin: 6px 10px;
    background-color: rgba(255, 255, 255, 0.8);
}

.drag_hit {
    width: 23px;
    height: 100%;
    float: right;
    text-align: center;
}

.data_frame {
    width: 1000px;
    height: 260px;
    margin-top: 3px;
    float: left;
    background-color: rgba(255, 255, 255, 0.6);
}