* {
    padding: 0px;
    margin: 0px;
    font-family: Verdana, Helvetica, Arial, sans-serif;
    font-size: 12px;
}

body {
    background-color: rgba(176, 176, 176, 0.2);
}

/********************* TOP ********************/
.top {
    width: 100%;
    height: 20px;
    background-color: #dbdbdb;
}

.top_bar {
    width: 1000px;
    height: 20px;
    margin: 0px auto;
}

.top_bar_hint {
    height: 100%;
}

.top_bar_hint ul li {
    list-style-type: none;
    margin: 0px 10px;
    line-height: 20px;
    float: right;
}

.top_bar_hint ul li:hover {
    color: red;
    cursor: pointer;
}

/********************* WRAP ********************/
.wrap {
    width: 1000px;
    margin: 0px auto;
    background: url("/resources/background.jpeg") repeat-y;
    position: relative;
}

/***** NAV *****/
.nav {
    width: 100%;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.6);
    margin: 0px 0px 3px 0px;
}

.nav_left {
    width: 640px;
    height: 40px;
    float: left;
    margin: 0px 10px;
}

.nav_left span a {
    text-decoration: none;
    font-size: 21px;
    line-height: 40px;
    font: bold;
    text-shadow: 0 0 20px green;
    color: #ffffff;
}

.nav_left span a:hover {
    color: #FFFFFF;
}

.nav_left_goal {
    float: right;
    margin: 20px 5px 3px 5px;
    color: #69a86b;

    -webkit-transition: ease 0.5s;
    -moz-transition: ease 0.5s;
    -ms-transition: ease 0.5s;
    -o-transition: ease 0.5s;
    transition: ease 0.5s;
}

.nav_left_goal:hover {
    color: red;
}

.nav_right {
    width: 270px;
    height: 40px;
    margin: 0px 10px;
    float: right;
}

.nav_right span {
    float: right;
    font-size: 15px;
    color: #69a86b;
    margin: 16px 5px 3px 5px;
}

.nav_right span a {
    font-size: 17px;
    margin: 0px 5px;
    text-decoration: none;
    color: #ff8a2c;

    -webkit-transition: ease 0.5s;
    -moz-transition: ease 0.5s;
    -ms-transition: ease 0.5s;
    -o-transition: ease 0.5s;
    transition: ease 0.5s;
}

.nav_right span a:hover {
    color: green;
}

/*************** AD ***************/
/********** AD_LEFT **********/
.ad_left {
    /*213*314*/
    width: 210px;
    height: 314px;
    float: left;
    margin-right: 3px;
    background-color: rgba(255, 255, 255, 0.4);
}

.ad_left ul {
    margin-top: 7px;
}

.ad_left ul li {
    display: block;
    width: 205px;
    height: 20px;
    list-style: none;
    border-bottom: 1px solid rgba(255, 255, 255, 1);
    margin: 1px 0px;
    padding-left: 5px;
}

.recommend {
    color: #000000;
    font-size: 14px;
    text-decoration: none;

    -webkit-transition: ease 0.5s;
    -moz-transition: ease 0.5s;
    -ms-transition: ease 0.5s;
    -o-transition: ease 0.5s;
    transition: ease 0.5s;
}

.recommend:hover {
    color: #f55b00;
}

.recommend_li {
    border-bottom: 1px solid mediumpurple;
}

/********** AD **********/
.ad {
    /*574*314*/
    width: 560px;
    height: 300px;
    overflow: hidden;
    float: left;
}

/********** AD_RIGHT **********/
.ad_right {
    /*213*145*/
    width: 210px;
    height: 145px;
    float: left;
    margin-left: 3px;
    background-color: rgba(255, 255, 255, 0.4);
}

.ad_right ul li {
    /*border-bottom: 1px solid #ffffff;*/
    list-style-type: none;
    padding: 4px 6px;
}

.ad_right ul li *:focus {
    outline: none;
}

.ad_right ul li label {
    display: block;
    width: 50px;
    text-align: center;
    font-size: 13px;
    margin: 2px auto;
}

.ad_right ul li input[type=text] {
    width: 170px;
    height: 22px;
    border: 2px solid #ffffff;
    background-color: #ffffff;
    padding-left: 4px;
    padding-right: 20px;

    -webkit-transition: ease 0.45s;
    -moz-transition: ease 0.45s;
    -ms-transition: ease 0.45s;
    -o-transition: ease 0.45s;
    transition: ease 0.45s;
}

.ad_right ul li input[type=text]:focus {
    border-color: #C00;
    background-color: #ffffff;
}

.ad_right ul li a {
    width: 70px;
    height: 22px;
    padding-right: 26px;
    line-height: 22px;
    text-align: center;
    display: block;
    color: #69a86b;
    font-size: 14px;
    text-decoration: none;
    border: 2px solid rgba(255, 255, 255, 0.8);
    background: url("/resources/allow.png") no-repeat 66px 5px;

    margin: 0px auto;

    -webkit-transition: ease 0.3s;
    -moz-transition: ease 0.3s;
    -ms-transition: ease 0.3s;
    -o-transition: ease 0.3s;
    transition: ease 0.4s;

    position: relative;
}

.ad_right ul li a:hover {
    border: 2px solid rgba(255, 255, 255, 1);
    background-position: 74px;
    color: green;
}

.ad_right ul li a .button_line {
    display: block;
    position: absolute;
    background: none;

    -webkit-transition: ease 0.3s;
    -moz-transition: ease 0.3s;
    -ms-transition: ease 0.3s;
    -o-transition: ease 0.3s;
    transition: ease 0.3s;
}

.ad_right ul li a:hover .button_line {
    background: #ffffff;
}

.ad_right ul li a .button_line_top {
    height: 2px;
    width: 0px;
    left: -94px;
    top: -2px;
}

.ad_right ul li a:hover .button_line_top {
    width: 94px;
    left: -2px;
}

.ad_right ul li a .button_line_right {
    height: 0px;
    width: 2px;
    right: -2px;
    top: -26px;
}

.ad_right ul li a:hover .button_line_right {
    height: 26px;
    top: -2px;
}

.ad_right ul li a .button_line_bottom {
    height: 2px;
    width: 0px;
    right: -94px;
    bottom: -2px;
}

.ad_right ul li a:hover .button_line_bottom {
    width: 94px;
    right: -2px;
}

.ad_right ul li a .button_line_left {
    height: 0px;
    width: 2px;
    left: -2px;
    bottom: -26px;
}

.ad_right ul li a:hover .button_line_left {
    height: 26px;
    bottom: -2px;
}

/********** AD_INTRO **********/
.intro_container {
    /*213*166*/
    width: 210px;
    height: 166px;
    margin-top: 6px;
    float: left;
    background-color: rgba(255, 255, 255, 0.4);
}

/********** ANIMATION_INTRO **********/
.animation_intro_container {
    width: 1000px;
    height: 260px;
    margin-top: 3px;
    float: left;
    background-color: transparent;
}

#animation_intro_pic_container {
    width: 210px;
    height: 260px;
    float: left;
    background-color: rgba(255, 255, 255, 0.6);
}

#animation_intro_pic_container img {
    width: 202px;
    height: 252px;
    margin: 4px;
}

#animation_intro__content_title {
    display: block;
    width: 400px;
    text-align: center;
    margin: 3px auto;
    font-family: "微软雅黑";
    font-size: 22px;
    font-weight: bold;
}

#animation_intro__content_container {
    width: 787px;
    height: 260px;
    margin: 0px 0px 0px 3px;
    float: left;
    background-color: rgba(255, 255, 255, 0.4);
}

#animation_intro__content_text {
    padding: 2px 15px;
    font-size: 16px;
}

/********** MUSIC **********/
.music_blog_container {
    width: 1000px;
    height: 303px;
    clear: both;
}

.music_container {
    width: 297px;
    height: 300px;
    margin-top: 3px;
    float: left;
    background-color: rgba(255, 255, 255, 0.4);

}

.music_container span {
    display: block;
    font-size: 20px;
    width: 150px;
    height: 27px;
    font-weight: bold;
    color: #445a80;
    padding-left: 10px;
    float: left;
}

.music_play_pause_button {
    width: 17px;
    height: 17px;
    float: right;
    margin: 6px 5px 0px 0px;
    background: url("/resources/music_play.jpeg");
}

.music_play_pause_button:hover {
    cursor: pointer;
}

.music_icon {
    width: 24px;
    height: 16px;
    float: right;
    margin: 6px 5px 0px 0px;
    background-color: #e4e4e4;
    padding: 0px;
}

.music_container ul li {
    display: block;
    width: 287px;
    height: 20px;
    margin: 3px 0px;
    background-color: rgba(255, 255, 255, 0.6);
    line-height: 20px;
    padding-left: 10px;
    clear: both;
}

.music_container ul li a {
    text-decoration: none;
    color: #b146ff;
}

/********** BLOG **********/
.blog_container {
    width: 700px;
    height: 300px;
    margin-top: 3px;
    margin-left: 3px;
    float: left;
    background-color: rgba(255, 255, 255, 0.4);
}

.blog_container span {
    font-size: 20px;
    font-weight: bold;
    color: #445a80;
    padding-left: 10px;
}

.blog_container ul li a {
    font-size: 17px;
    text-decoration: none;
    color: dimgrey;

    -webkit-transition: ease 0.5s;
    -moz-transition: ease 0.5s;
    -ms-transition: ease 0.5s;
    -o-transition: ease 0.5s;
    transition: ease 0.5s;
}

.blog_container ul li a:hover {
    color: #000000;
}

.blog_container ul li span {
    display: block;
    font-size: 12px;
    margin-top: 5px;
    padding-left: 0px;
    color: #6e6e6e;
}

.blog_container ul li {
    display: block;
    width: 690px;
    height: 43px;
    margin-top: 3px;
    background-color: rgba(255, 255, 255, 0.6);
    padding-left: 10px;
}

/********************* FOOTER ********************/
.footer {
    width: 100%;
    height: 20px;
    background-color: #dbdbdb;
}

.footer_copyright {
    width: 1000px;
    height: 20px;
    margin: 0px auto;
    text-align: center;
    line-height: 20px;
    color: #949494;

    -webkit-transition: ease 1s;
    -moz-transition: ease 1s;
    -ms-transition: ease 1s;
    -o-transition: ease 1s;
    transition: ease 1s;
}

.footer_copyright:hover {
    color: #6e6e6e;
}