
#main_container {
    width: 815px;
    height: 555px;
    background-color: transparent;
}

.container {
    width: 388px;
    height: 270px;
    padding: 0px;
    margin: 3px 9px 6px 9px;
    float: left;
    box-shadow: 0 0 5px slategrey;
    background-color: #7bbaff;
}

#container1:hover {
    width: 388px;
    height: 270px;
    padding: 0px;
    margin: 3px 9px 6px 9px;
    float: left;
    box-shadow: 0 0 5px red;
}

#container2:hover {
    width: 388px;
    height: 270px;
    padding: 0px;
    margin: 3px 9px 6px 9px;
    float: left;
    box-shadow: 0 0 5px mediumslateblue;
}

#container3:hover {
    width: 388px;
    height: 270px;
    padding: 0px;
    margin: 3px 9px 6px 9px;
    float: left;
    box-shadow: 0 0 5px darkgreen;
}

#container4:hover {
    width: 388px;
    height: 270px;
    padding: 0px;
    margin: 3px 9px 6px 9px;
    float: left;
    box-shadow: 0 0 5px dodgerblue;
}

img {
    position: relative;
    left: 1px;
    top: -37px;
}

pre {
    position: relative;
    top: -10px;
    font-family: Verdana bold;
    font-size: 14px;
}

#pre1 {
    color: #ffffff;
    text-shadow: 0 0 5px red;
}

#pre2 {
    color: #ffffff;
    text-shadow: 0 0 5px mediumslateblue;
}

#pre3 {
    color: #ffffff;
    text-shadow: 0 0 5px darkgreen;
}

#pre4 {
    color: #ffffff;
    text-shadow: 0 0 5px dodgerblue;
}